@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  background: #F7F7FB;
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

h1 {
  background: #184488;
  color: white;
  padding: 24px;
  margin: 0;
}

input {
  display: block;
  margin: 0 auto;
  border: 0;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding: 8px;
}

li {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  width: 40%;
  padding: 16px;
  cursor: pointer;
  font-weight: bold;
}

li.active {
  background: #184488;
  border: 1px solid #184488;
  color: white;
}
